/* Common button styles */
button {
    background-color: var(--button-background);
    color: var(--button-text);
    border: 1px solid var(--button-border);
    padding: 10px 20px;
    border-radius: 0px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, color 0.3s, padding 0.3s, border-radius 0.3s, margin 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.6vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;

}

button:hover {
    background-color: var(--button-hover);
    border: 1px solid var(--button-border-hover);
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

button.active, .pagination-controls.active, #expirationButtons button.active {
    background-color: var(--active-button);
    border: 1px solid var(--button-border-active);
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}