#history {
    margin-top: 20px;
    text-align: left;
    display: none;
    transition: margin-top 0.3s, text-align 0.3s;
}

h2 {
    display: none;
    transition: display 0.3s;
}
#uploadHistoryHeader {
    font-size: 2vw;
}
.history-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--history-item-border);
    transition: background-color 0.3s ease, padding 0.3s, border-bottom 0.3s;
    font-size: 1.4vw;
}

.history-item:hover {
    background-color: var(--history-item-hover);
}

.history-item a {
    color: var(--primary-color);
    text-decoration: none;
    flex-grow: 1;
    transition: color 0.3s, text-decoration 0.3s;
}

.history-item a:hover {
    text-decoration: underline;
}

.history-item span {
    margin-left: 10px;
    color: var(--history-item-text);
    transition: margin-left 0.3s, color 0.3s;
}

.copy-icon {
    cursor: pointer;
    margin-left: 10px;
    color: var(--copy-icon-color);
    font-size: 1.2em;
    transition: color 0.3s ease, margin-left 0.3s, font-size 0.3s;
}

.copy-icon:hover {
    color: var(--copy-icon-hover-color);
}

.copy-icon:active {
    color: var(--copy-icon-active-color);
}

.status-tag {
    margin-left: 10px;
    padding: 2px 8px;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--status-tag-text);
    font-size: 0.9em;
    transition: margin-left 0.3s, padding 0.3s, border-radius 0.3s, background-color 0.3s, color 0.3s, font-size 0.3s;
}

.status-tag.expired {
    background-color: var(--expired-color);
}

.status-tag.low-expiration {
    background-color: var(--low-expiration-color);
    color: var(--low-expiration-text);
}

.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    transition: display 0.3s, justify-content 0.3s, margin-top 0.3s;
}

#expirationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    transition: display 0.3s, align-items 0.3s, justify-content 0.3s, margin-top 0.3s;
    font-size: 1.8vw;
}

#expirationLabel {
    margin-right: 10px;
    transition: margin-right 0.3s;
}

@media (max-width: 768px) {
    .history-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 5px; /* Adjust padding for better spacing */
        border-bottom: 1px solid var(--history-item-border);
        margin-bottom: 10px; /* Add margin between items */
    }

    .history-item .file-info-container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }

    .history-item .file-info-container .copy-icon {
        margin-left: auto;
    }

    .history-item .details-container {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-top: 5px;
    }

    .history-item .details-container span {
        margin-right: 10px;
    }

    .history-item .details-container .status-tag {
        margin-left: auto;
    }

    #expirationContainer {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    #expirationContainer label,
    #expirationContainer button {
        width: 100%;
        margin-bottom: 5px;
        
    }

    #expirationContainer button {
        text-align: center;
    }
}

.historybox {
      background: var(--history-item-box);
     padding: 1px;
     border: 1px solid var(--history-item-box-border);
     margin-top: 1vh;

}