.fileInfo {
    display: none;
    margin-bottom: 20px;
    transition: margin-bottom 0.3s;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .fileName {
    font-size: 1.7vw;
  }
  
  .expirationCountdown {
    display: none;
    transition: display 0.3s;
    font-size: 1.5vw;
  }.fileInfo {
  display: none;
  margin-bottom: 20px;
  transition: margin-bottom 0.3s;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.fileName {
  font-size: 1.7vw;
}

.expirationCountdown {
  display: none;
  transition: display 0.3s;
  font-size: 1.5vw;
}