.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--app-background);
  }
  
  .logo {
    max-width: 100%;
    height: 7vh;
    object-fit: contain;
    image-rendering: pixelated;
  }
  
  :global(:root.light) .logo {
    filter: brightness(0.25);
  }