.historyBox {
  margin-top: 20px;
  text-align: left;
}

.uploadHistoryHeader {
  font-size: 2vw;
}

.historyItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--history-item-border);
  transition: background-color 0.3s ease, padding 0.3s, border-bottom 0.3s;
  font-size: 1.4vw;
}

.historyItem:hover {
  background-color: var(--history-item-hover);
}

.fileInfoContainer {
  display: flex;
  align-items: center;
}

.fileIcon {
  margin-right: 10px;
}

.copyIcon {
  cursor: pointer;
  margin-left: 10px;
  color: var(--copy-icon-color);
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.copyIcon:hover {
  color: var(--copy-icon-hover-color);
}

.detailsContainer {
  display: flex;
  align-items: center;
}

.detailsContainer span {
  margin-left: 10px;
}

.statusTag {
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 0.8em;
}

@media (max-width: 768px) {
  .historyItem {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 5px;
    margin-bottom: 10px;
  }

  .fileInfoContainer {
    width: 100%;
    justify-content: space-between;
  }

  .detailsContainer {
    width: 100%;
    justify-content: space-between;
    margin-top: 5px;
  }

  .detailsContainer span {
    margin-right: 10px;
  }

  .statusTag {
    margin-left: auto;
  }
}